.DS_Store
apollo/apollo
bellerophon-bsc/bsc/bsc
bellerophon-cli/bcli/bcli
bellerophon/bellerophon
bellerophon/bin
bellerophon/jwt
bin/
creds
data-point-service/data-point-service
docs
function-service/function-service
gateway-service/gateway-service
go.work*
kraken/kraken
kronos/kronos
microstrate/.env
microstrate/.storybook
microstrate/.svelte-kit
microstrate/build
!microstrate/**/docs/
website/node_modules
website/.env
website/.storybook
website/.svelte-kit
website/build
!website/**/docs/
website/node_modules
moros/moros
pegasus/pegasus
sdk/nodejs/dist
sdk/nodejs/dist-sdk
sdk/nodejs/node_modules
storage-service/storage-service
zeus/zeus
