{
  "openapi": "3.0.3",
  "info": {
    "title": "Microstrate Gateway",
    "description": "API service for managing compute resources including collections, functions, containers, and their assets",
    "contact": {
      "email": "support@microstrate.io"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.microstrate.io",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Operations related to compute collections"
    },
    {
      "name": "Functions",
      "description": "Operations related to serverless functions"
    },
    {
      "name": "Containers",
      "description": "Operations related to containers"
    },
    {
      "name": "Compute Assets",
      "description": "Operations related to compute assets for both functions and containers"
    },
    {
      "name": "Runtimes",
      "description": "Operations related to compute runtimes"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "api_key_auth": []
    }
  ],
  "paths": {
    "/compute/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get all collections",
        "description": "Retrieves a list of all compute collections",
        "operationId": "getCollections",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collections",
        "responses": {
          "200": {
            "description": "A list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of collections"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "collection_type": "function",
                        "description": "A collection for my compute resources",
                        "name": "my-collection",
                        "subject": "ms.compute.123456789.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Create a collection",
        "description": "Creates a new compute collection",
        "operationId": "createCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.collection",
        "requestBody": {
          "description": "Collection to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreate"
              },
              "example": {
                "name": "my-collection",
                "description": "A collection for my compute resources",
                "collection_type": "function"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "example": {
                  "body": {
                    "collection_type": "function",
                    "description": "A collection for my compute resources",
                    "name": "my-collection",
                    "subject": "compute.123456789.collection",
                    "type": "created",
                    "modified": 1714378974
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get a collection",
        "description": "Retrieves a specific collection by topic",
        "operationId": "getCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collection",
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "example": {
                  "body": {
                    "collection_type": "function",
                    "description": "A collection for my compute resources",
                    "name": "my-collection",
                    "subject": "compute.123456789.collection",
                    "type": "created",
                    "modified": 1714378974
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Collections"
        ],
        "summary": "Update a collection",
        "description": "Updates an existing collection",
        "operationId": "updateCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.collection",
        "requestBody": {
          "description": "Collection properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              },
              "example": {
                "description": "Updated collection description",
                "collection_type": "function"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}/resources": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get all resources in a collection",
        "description": "Retrieves all functions and containers belonging to a specific collection",
        "operationId": "getCollectionResources",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collection-resources",
        "parameters": [
          {
            "name": "resource_type",
            "in": "query",
            "description": "Filter by resource type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "function",
                "container",
                "all"
              ]
            },
            "example": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of resources in the collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeResource"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of resources"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "A serverless function",
                        "name": "my-function",
                        "runtime": "nodejs",
                        "resource_type": "function",
                        "subject": "compute.my-namespace.function.123456789",
                        "type": "created",
                        "modified": 1714378974
                      },
                      {
                        "description": "A container for my application",
                        "name": "my-container",
                        "runtime": "docker",
                        "resource_type": "container",
                        "subject": "compute.my-namespace.container.123456789",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 2
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get all functions",
        "description": "Retrieves a list of all functions",
        "operationId": "getFunctions",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.functions",
        "responses": {
          "200": {
            "description": "A list of functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Function"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of functions"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "A serverless function",
                        "name": "my-function",
                        "runtime": "nodejs",
                        "subject": "ms.compute.my-namespace.function.123456789",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Create a function",
        "description": "Creates a new serverless function",
        "operationId": "createFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.function",
        "requestBody": {
          "description": "Function to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionCreate"
              },
              "example": {
                "name": "my-function",
                "description": "A serverless function",
                "compute_asset": {
                  "collection_topic": "my-namespace",
                  "handler": "index.handler",
                  "assets": [
                    {
                      "asset_name": "index.js",
                      "asset_type": "file",
                      "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBXb3JsZCEiKTsK",
                      "link": false
                    }
                  ],
                  "timeout": 30000,
                  "read_only_fs": true
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                },
                "schema": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Function created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Function"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "ms.compute.my-namespace.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "timeout": 30000,
                      "read_only_fs": true
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    },
                    "schema": {
                      "input": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "output": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "my-namespace"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get a function",
        "description": "Retrieves a specific function by collection topic and function topic",
        "operationId": "getFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Function details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/FunctionWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "compute.my-namespace.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "assets": [
                        {
                          "asset_name": "index.js",
                          "asset_type": "file",
                          "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBXb3JsZCEiKTsK",
                          "link": false
                        }
                      ],
                      "timeout": 30000,
                      "read_only_fs": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Functions"
        ],
        "summary": "Update a function",
        "description": "Updates an existing function",
        "operationId": "updateFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.function",
        "requestBody": {
          "description": "Function properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionUpdate"
              },
              "example": {
                "description": "Updated function description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}/invoke": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "my-namespace"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function",
        "description": "Invokes a function with the provided payload",
        "operationId": "invokeFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.invoke.function",
        "requestBody": {
          "description": "Function invocation parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionInvoke"
              },
              "example": {
                "payload": "{\"name\":\"World\"}",
                "invocation_type": "RequestResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function invoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string",
                      "description": "Response from function invocation"
                    }
                  }
                },
                "example": {
                  "body": "{\"message\":\"Hello, World!\"}"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "my-namespace"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute assets",
        "description": "Retrieves all assets for a specific compute resource (function or container)",
        "operationId": "getComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-assets",
        "responses": {
          "200": {
            "description": "Compute resource assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ComputeAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "assets": [
                      {
                        "asset_name": "index.js",
                        "asset_type": "file",
                        "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBXb3JsZCEiKTsK",
                        "link": false
                      }
                    ],
                    "collection_topic": "my-namespace",
                    "service": "123456789",
                    "runtime": "nodejs",
                    "handler": "index.handler",
                    "timeout": 30000,
                    "read_only_fs": true
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Update compute assets",
        "description": "Updates assets for a specific compute resource (function or container)",
        "operationId": "updateComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.compute-assets",
        "requestBody": {
          "description": "Compute asset properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputeAssetUpdate"
              },
              "example": {
                "handler": "index.newHandler",
                "assets": [
                  {
                    "asset_name": "index.js",
                    "asset_type": "file",
                    "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                    "link": false
                  }
                ],
                "timeout": 60000,
                "env_vars": [
                  "ENV=production"
                ],
                "read_only_fs": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compute assets patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}/history": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "my-namespace"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute asset history",
        "description": "Retrieves the history of a compute resource's assets (function or container)",
        "operationId": "getComputeAssetHistory",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-asset-history",
        "responses": {
          "200": {
            "description": "Compute asset history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeAsset"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of history entries"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "collection_topic": "my-namespace",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.handler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "file",
                            "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBXb3JsZCEiKTsK",
                            "link": false
                          }
                        ],
                        "timeout": 30000,
                        "read_only_fs": true,
                        "modified": 1714378974
                      },
                      {
                        "collection_topic": "my-namespace",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.newHandler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "file",
                            "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                            "link": false
                          }
                        ],
                        "timeout": 60000,
                        "read_only_fs": true,
                        "modified": 1714380000
                      }
                    ],
                    "results_total": 2
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers": {
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get all containers",
        "description": "Retrieves a list of all containers",
        "operationId": "getContainers",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.containers",
        "responses": {
          "200": {
            "description": "A list of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Container"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of containers"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "A container for my application",
                        "name": "my-container",
                        "runtime": "docker",
                        "subject": "ms.compute.my-namespace.container.123456789",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Create a container",
        "description": "Creates a new container",
        "operationId": "createContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container",
        "requestBody": {
          "description": "Container to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerCreate"
              },
              "example": {
                "name": "my-container",
                "description": "A container for my application",
                "compute_asset": {
                  "collection_topic": "my-namespace",
                  "runtime": "docker",
                  "assets": [
                    {
                      "asset_name": "Dockerfile",
                      "asset_type": "file",
                      "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                      "link": false
                    }
                  ],
                  "read_only_fs": false
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Container created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Container"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "compute.my-namespace.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "docker",
                      "read_only_fs": false
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/{collection_topic}/{container_topic}": {
      "parameters": [
        {
          "name": "collection_topic",
          "in": "path",
          "description": "Collection topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "my-namespace"
        },
        {
          "name": "container_topic",
          "in": "path",
          "description": "Container topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get a container",
        "description": "Retrieves a specific container by collection topic and container topic",
        "operationId": "getContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Container details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ContainerWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "compute.my-namespace.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "docker",
                      "assets": [
                        {
                          "asset_name": "Dockerfile",
                          "asset_type": "file",
                          "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                          "link": false
                        }
                      ],
                      "read_only_fs": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Containers"
        ],
        "summary": "Update a container",
        "description": "Updates an existing container",
        "operationId": "updateContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.container",
        "requestBody": {
          "description": "Container properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerUpdate"
              },
              "example": {
                "description": "Updated container description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Container patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/runtimes": {
      "get": {
        "tags": [
          "Runtimes"
        ],
        "summary": "Get runtimes",
        "description": "Retrieves all available runtimes",
        "operationId": "getRuntimes",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.runtimes",
        "responses": {
          "200": {
            "description": "A list of available runtimes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of runtimes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "name": "nodejs",
                        "version": "18.x",
                        "description": "Node.js Runtime"
                      },
                      {
                        "name": "python",
                        "version": "3.10",
                        "description": "Python Runtime"
                      },
                      {
                        "name": "docker",
                        "version": "latest",
                        "description": "Docker Runtime"
                      }
                    ],
                    "results_total": 3
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "api_key_auth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "properties": {
          "collection_type": {
            "type": "string",
            "description": "Collection type"
          },
          "description": {
            "type": "string",
            "description": "Collection description"
          },
          "name": {
            "type": "string",
            "description": "Collection name"
          },
          "subject": {
            "type": "string",
            "description": "Collection subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Resource type"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "CollectionCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name"
          },
          "description": {
            "type": "string",
            "description": "Collection description"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type"
          }
        }
      },
      "CollectionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name"
          },
          "description": {
            "type": "string",
            "description": "Collection description"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type"
          }
        }
      },
      "ComputeAssetItem": {
        "type": "object",
        "properties": {
          "asset_name": {
            "type": "string",
            "description": "Asset name"
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type"
          },
          "asset_value": {
            "type": "string",
            "description": "Base64 encoded content"
          },
          "link": {
            "type": "boolean",
            "description": "Whether asset is a link"
          }
        }
      },
      "ComputeResource": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Resource description"
          },
          "name": {
            "type": "string",
            "description": "Resource name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "resource_type": {
            "type": "string",
            "enum": [
              "function",
              "container"
            ],
            "description": "Type of compute resource"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "Function": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "ComputeAsset": {
        "type": "object",
        "properties": {
          "collection_topic": {
            "type": "string",
            "description": "Collection topic identifier"
          },
          "service": {
            "type": "string",
            "description": "Service identifier"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "handler": {
            "type": "string",
            "description": "Function handler (only applicable for functions)"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeAssetItem"
            },
            "description": "Asset items"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in milliseconds (only applicable for functions)"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Environment variables"
          },
          "read_only_fs": {
            "type": "boolean",
            "description": "Read-only filesystem flag"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "ComputeAssetUpdate": {
        "type": "object",
        "properties": {
          "handler": {
            "type": "string",
            "description": "Function handler (only applicable for functions)"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeAssetItem"
            },
            "description": "Asset items"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in milliseconds (only applicable for functions)"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Environment variables"
          },
          "read_only_fs": {
            "type": "boolean",
            "description": "Read-only filesystem flag"
          }
        }
      },
      "MonitorConfig": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "integer",
            "description": "Monitoring data TTL in milliseconds"
          },
          "store_payload": {
            "type": "boolean",
            "description": "Whether to store invocation payloads"
          }
        }
      },
      "Schema": {
        "type": "object",
        "properties": {
          "input": {
            "type": "object",
            "description": "Input schema definition"
          },
          "output": {
            "type": "object",
            "description": "Output schema definition"
          }
        }
      },
      "FunctionWithAsset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Function"
          },
          {
            "type": "object",
            "properties": {
              "compute_asset": {
                "$ref": "#/components/schemas/ComputeAsset"
              }
            }
          }
        ]
      },
      "ContainerWithAsset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Container"
          },
          {
            "type": "object",
            "properties": {
              "compute_asset": {
                "$ref": "#/components/schemas/ComputeAsset"
              }
            }
          }
        ]
      },
      "FunctionCreate": {
        "type": "object",
        "required": [
          "name",
          "compute_asset",
          "monitor_config"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "compute_asset": {
            "type": "object",
            "required": [
              "collection_topic"
            ],
            "properties": {
              "collection_topic": {
                "type": "string",
                "description": "Collection topic identifier used as namespace"
              },
              "handler": {
                "type": "string",
                "description": "Function handler"
              },
              "runtime": {
                "type": "string",
                "description": "Runtime environment",
                "default": "nodejs"
              },
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ComputeAssetItem"
                },
                "description": "Function assets"
              },
              "timeout": {
                "type": "integer",
                "description": "Function timeout in milliseconds"
              },
              "read_only_fs": {
                "type": "boolean",
                "description": "Read-only filesystem flag"
              },
              "env_vars": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Environment variables"
              }
            }
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "FunctionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "FunctionInvoke": {
        "type": "object",
        "required": [
          "payload",
          "invocation_type"
        ],
        "properties": {
          "payload": {
            "type": "string",
            "description": "Function invocation payload (JSON string)"
          },
          "invocation_type": {
            "type": "string",
            "enum": [
              "Async",
              "RequestResponse"
            ],
            "description": "Type of invocation (Async for background processing, RequestResponse for immediate response)"
          }
        }
      },
      "ContainerCreate": {
        "type": "object",
        "required": [
          "name",
          "compute_asset",
          "monitor_config"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "compute_asset": {
            "type": "object",
            "required": [
              "collection_topic",
              "runtime"
            ],
            "properties": {
              "collection_topic": {
                "type": "string",
                "description": "Collection topic identifier used as namespace"
              },
              "runtime": {
                "type": "string",
                "description": "Runtime environment"
              },
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ComputeAssetItem"
                },
                "description": "Container assets"
              },
              "read_only_fs": {
                "type": "boolean",
                "description": "Read-only filesystem flag"
              },
              "env_vars": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Environment variables"
              }
            }
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "ContainerUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      }
    },
    "responses": {
      "bad_request": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "Invalid request parameters"
            }
          }
        }
      },
      "not_found": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "The requested resource was not found"
            }
          }
        }
      },
      "internal_server_error": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "An unexpected error occurred"
            }
          }
        }
      }
    }
  }
}
